name: PySDM

defaults:
  run:
    shell: bash

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 13 * * 4'

jobs:
  server_check:
    runs-on: ubuntu-latest
  steps:
    - name: Ensure runner is up
      env:
        ssh_key: ${{ secrets.SSH_KEY }}
        ssh_host: ${{ secrets.SSH_HOST }}
        ssh_port: ${{ secrets.SSH_PORT }}
      run: |
        ssh -i $ssh_key $ssh_host -p $ssh_port "bash -s" < /home/delcior/commands.sh
         
  gpu_tests:
    needs: server_check
    runs-on: [self-hosted]
    steps:
      - run: |
          pip install -e .

      # sanity check if we do not depend on something from test-time-requirements.txt
      - run: |
          python -We -c "import PySDM"

      - run: |
          pip install -r test-time-requirements.txt

      # ensure previous pip did not overwrite the package
      - run: |
          pip install -e .

      # https://github.com/numba/numba/issues/6350#issuecomment-728174860
      - env:
          NUMBA_THREADING_LAYER: omp
        run: |
          echo
          pytest -p no:unraisableexception -We
