name: PySDM

defaults:
  run:
    shell: bash

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 13 * * 4'

jobs:
  build:
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - run: |
          pip install -e .

      # sanity check if we do not depend on something from test-time-requirements.txt
      - run: |
          python -We -c "import PySDM"

      - run: |
          pip install -r test-time-requirements.txt

      # ensure previous pip did not overwrite the package
      - run: |
          pip install -e .

      # https://github.com/numba/numba/issues/6350#issuecomment-728174860
      - env:
          NUMBA_THREADING_LAYER: omp
        run: |
          nvidia-smi
          echo
          pytesXDt -p no:unraisableexception -We

#      - if: matrix.platform != 'ubuntu-latest'
#        run: pytest -p no:unraisableexception -We

