name: PySDM

defaults:
  run:
    shell: bash

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 13 * * 4'

jobs:
  build:
    runs-on: [self-hosted, cml]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - run: |
          pip install -e .

      - run: |
          python -We -c "import PySDM"

      - run: |
          pip install -r test-time-requirements.txt

      # https://github.com/numba/numba/issues/6350#issuecomment-728174860
      - env:
          NUMBA_THREADING_LAYER: omp
        run: |
          echo
          pytest -p no:unraisableexception -We

#      - if: matrix.platform != 'ubuntu-latest'
#        run: pytest -p no:unraisableexception -We

